* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;;
  color: #333;
  line-height: 1.6;
}

p {
  font-size: 1rem;     
  margin-bottom: 12px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  border-top: 4px solid #c94c3c;
  background-color: #f7f7f7;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #2e9f6b;
  letter-spacing: 3px;
}

.breadcrumb {
  padding: 20px 60px;
  font-size: 14px;
  color: #555;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
}

.breadcrumb span {
  color: #777;
}

.logo span {
  display: block;
  color: #e6a23c;
  font-size: 16px;
  letter-spacing: 4px;
}

.navbar a {
  margin-left: 30px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar a:hover {
  color: #c94c3c;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

h1,h2,h3,h4,h5 {
     font-family: 'Space Grotesk', sans-serif;
     color: #02402b;
}

.date {
  color: #888;
  font-size: 16px;
}

section{
    padding: 20px 60px;
}

section.ingredients li {
margin-left: 15px;
}

section.instructions li {
margin-left: 18px;
}

section.cooktime p {
    line-height: 1.2;
}

.about img {
    width: 500px;
    height: 670px ;
    border-radius: 20px;
    transition: filter0.3sease;
}

.about img:hover {
    filter: grayscale(100%);
}